header {
  display: flex;
  gap: 2rem;
  padding: 2rem 5rem;
}

.navBar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navBar {
  list-style: none;
}

.navBar a {
  text-decoration: none;
  color: black;
}